<footer class="footer">

    <div class="footer__text-box">    
        <div>
            <img class="footer__logo" src="ico/Logo_white.png" alt="Logo">
            <p class="Text__Box-Four-H3">Rustica</p><br>
            <p>Café & Rösterei</p>
        </div>

        <div>    
            <div>
                <p>Komm uns besuchen</p>
                <p>Fraunhoferstr.13, Kiel</p>
                <br><br>
            </div>

            <div>
                <p>Mo - Fr 8-18 Uhr</p>
                <p>Sa 11-18 Uhr</p>
            </div>
        </div>    

        <div>
            <p>Café</p>
            <p>Shop</p>
            <p>Herkunft</p>
        </div>

        <div>
            <p>Impressum</p>
            <p>Datenschutz</p>
        </div>
    </div>    

</footer>