<header class="header">
   
    <nav class="navigation">
        <div class="navigation__1">   
            <div class="Logo__box">
                <img class="Logo" src="/ico/logo_white.png" alt="logo">
            </div>
        </div>
        <div class="navigation__2">
            <div class="menu__item">
                <p>das Café</p>
            </div>
            <div class="menu__item">
                <p>Über Uns</p>
            </div>
            <div class="menu__item">
                <p>Shop</p>
            </div>
        </div>
    </nav>    

    <div class="header__text-box">

        <h1 class="header__text-main">Rustica</h1>
        <p class="header__text-white">Bio und Fair seit 1991</p>
    

        <a href="*" class="btn">zum Shop</a>
    </div>

</header>