.navigation{
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0;
    text-decoration: none;
    letter-spacing: 0;
    color: $color_white;
    font-size: 18px;
    max-width: 100%;

    &__2{
        display: flex;
    }
}



.Logo__box{
    margin-top: 0.5rem;
    margin-left: 5rem;
    align-self: flex-start;
}

.Logo{
    width: 32px;
}

.menu__item{
    margin-top: 0.8rem;
    margin-right: 5rem;
}

.FirstSection{
    display: flex;
    justify-content: space-between;
    background-color: $color_white;
    padding: 7rem;
    max-width: 100%;

    &__text-box{
        padding-right: 7rem;
    }
    
    &__text-sub{
        display: flex;
    }

    &__IMG-box{
        max-width: 40vw;
    }

    &__IMG{
        max-width: 100%;

    }
}


.SecondSection{
    display: flex;
    background-color: $color_white;
    padding: 0 7rem 7rem 7rem;
    max-width: 100%;

    &__IMG-box{
        max-width: 40vw;
    }

    &__text-box{
        padding-left: 7rem;
    }
}

.ThirdSection{
    background-color: $color_anthrazit;
}

.ThirdSection__Text{
    display: block;
}

.Kaffeesorten{
    display: flex;
    justify-content: space-evenly;
}

.Kaffeesorten__container-image{
    height: 399px;
    width: 299px;
    background-color: $color_white;
}

.Kaffeesortenbild{
    width: 100%;
}

.Kaffeesorten-ico{
    width: 15px;
    margin-right: 0.5rem;
}

.btn-box{
    display: flex;
    justify-content: center;
}

.FourthSection{
    height: 55vh; /* 65% der viewport height */ 
    background-image: linear-gradient(to right bottom, $color-anthrazit-clear, $color-anthrazit-clear), url(../img/FEND-Coffee-bags-2.png);
    background-size: cover; /* egal welche Breite der Viewport hat, das Element wird immer eingepasst */
    background-position: center; /*Bild wird in der Mitte zum Viewport ausgerichtet */
    display: flex;
    justify-content: center; 
}

.Text__Box-Four{
    margin-top: 8rem;
}

.FifthSection{
    background-color: $color_white;
}

.FifthSection__h2{
    text-align: center;
    margin-top: 6rem;
}

.FifthSection__flex{
    display: flex;
    justify-content: space-evenly;
}


.FifthSection__image{
    width: 521px;
}

.icons__right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon__text{
   margin-left: 2rem;
   padding-top: 0.5rem;
}

.icon__container{
    display: flex;
}

.FifthSection__h2-2{
    margin-left: 7rem;
    padding-top: 4rem;
}

.footer{
    background-color: $color-anthrazit;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0;
    text-decoration: none;
    letter-spacing: 0;
    color: $color_white;
}

.footer__text-box{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.footer__logo{
    width: 4rem;
    padding-bottom: 1rem;
}

