.FirstSection{
    display: flex;
    justify-content: space-between;
    background-color: $color_white;
    padding: 7rem;

    &__text-box{
        margin-right: 7rem;
    }

    &__text-sub{
        display: flex;
    }
}

.FirstSection__IMG{
    width: 60%;
}

.SecondSection{
    display: flex;
    background-color: $color_white;
    padding: 0 7rem 7rem 7rem;
}

.ThirdSection{
    background-color: $color_anthrazit;
}

.ThirdSection__Text{
    display: block;
}

.Kaffeesorten{
    display: flex;
    justify-content: space-evenly;
}

.Kaffeesorten__container-image{
    height: 399px;
    width: 299px;
    background-color: $color_white;
}

.Kaffeesortenbild{
    width: 100%;
}

.Kaffeesorten-ico{
    width: 15px;
    margin-right: 0.5rem;
}

.btn-box{
    display: flex;
    justify-content: center;
}

.FourthSection{
    height: 55vh; /* 65% der viewport height */ 
    background-image: linear-gradient(to right bottom, $color-anthrazit-clear, $color-anthrazit-clear), url(../img/FEND-Coffee-bags-2.png);
    background-size: cover; /* egal welche Breite der Viewport hat, das Element wird immer eingepasst */
    background-position: center; /*Bild wird in der Mitte zum Viewport ausgerichtet */
    position: flex;
    justify-content: center; 
}

.FifthSection{
    background-color: $color_white;
}

.FifthSection__h2{
    text-align: center;
    margin-top: 6rem;
}

.FifthSection__flex{
    display: flex;
    justify-content: space-evenly;
}


.FifthSection__image{
    width: 521px;
}

.icons__right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icon__text{
    display: flex;
}

.FifthSection__h2-2{
    margin-left: 7rem;
    padding-top: 4rem;
}
