.btn{
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 1,3%;
    color: $color-white;
    margin-bottom: 7rem;
    background-color: $color-anthrazit;
    padding: 1rem 3.5rem;
    border-radius: 5%;
}