// Farben
$color-white: rgba(255,255,255,1);
$color-anthrazit: rgba(26,26,26,1);
$color-anthrazit-clear: rgba(26,26,26,0.3);
$color-kraftpapier: rgba(215,190,157,1);
$color-petrol: rgba(0,109,126,1);
$color-rosa: rgba(237,209,201,1);
$color-orange: rgba(215,124,18,1);
$color-medium-grey: rgba(115,115,115,1);
$color-grey: rgba(233,233,233,1);

